{% load staticfiles %}
<!DOCTYPE HTML>
<html lang="zxx">
<head>
<title>Online Banking</title>
<!-- Meta tag Keywords -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Online Banking Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--// Meta tag Keywords -->
<!-- css files -->
<link href="{% static 'css/bootstrap.css'%}" rel="stylesheet" type="text/css" media="all" /> <!-- Bootstrap-Core-CSS -->
<link href="{% static 'css/style.css'%}" rel="stylesheet" type="text/css" media="all" /> <!-- Style-CSS --> 
<link rel="stylesheet" href="{% static 'css/font-awesome.css'%}"> <!-- Font-Awesome-Icons-CSS -->
<link rel="stylesheet" href="{% static 'css/flexslider.css'%}" type="text/css" media="all" /> <!-- Banner-Slider-CSS -->
<!-- //css files -->
<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css'%}"/>
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&amp;subset=latin-ext" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Ubuntu+Condensed&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext" rel="stylesheet">
<!-- //online-fonts -->
</head>
{% if status %}
<script>
alert('{{status}}');
</script>
{% endif %}
<body>

<!-- navigation -->
<div class="nav-links">	
		<div class="header-w3l">
			<div class="container">
				<a class="navbar-brand" href="{% url 'home'%}"><h1><span>Online</span> Banking</h1></a>
				<div class="call-w3l">
					<img src="{% static 'images/call.png'%}">
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>
			</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<div class="w3l-nav">
				<ul class="nav navbar-nav link-effect">
					<li class=""><a href="{% static 'home'%}">Home</a></li>
					<li><a href="#about" class="scroll">About Us</a></li>
					<li><a href="#services" class="scroll">Services</a></li>
					<li><a href="#team" class="scroll">Team</a></li>
					<li><a href="#gallery" class="scroll">Gallery</a></li>	
					<li><a href="#contact" class="scroll">Contact Us</a></li>
					<li><a href="{% url 'signup'%}">Sign Up</a></li>
					<li><a href="{% url 'signin'%}">Sign In</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="codecon_half">
				<div class="expSearchBox">
					<div class="expSearchFrom">
						<input id="field" type="search" placeholder="Search here"/>
						<div class="close">
							<span class="front"></span>
							<span class="back"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
</div>
<!-- //navigation -->
<!-- banner section -->
<div class="banner-slider">
				<div class="container">
						<!--Slider-->	
				<div class="callbacks_container">
					<ul class="rslides" id="slider3">
						<li>
							<div class="w3l_banner_info">
								<h3>Merchant accounts and credit card processing</h3>
								<p>A merchant account is a bank account established by a business to allow the business to accept payments from customers by credit and/or debit cards. The merchant account also includes an agreement between the bank, the retailer involved, and the payment processor for settlement of the debit or credit card transaction.</p>
							</div>
						</li>
						<li>
							<div class="w3l_banner_info">
								<h3>Don't hesitate to accept credit cards today!</h3>
								<p>Setting up payment processing to accept credit cards is one of the biggest pain ... More than 1/3 of consumers hesitate to shop online because of security concerns. ... and some have more competitive transaction fees or don't charge setup fees.</p>					
							</div>
						</li>
					</ul>
				</div>
				<!-- //Slider -->

				</div>
</div>
<!-- Modal1 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
					<img src="{% static 'images/g7.jpg'%}" alt=" " class="img-responsive">
					<h5>Donec lobortis pharetra dolor</h5>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, rds which don't look even slightly believable..</p>
			</div>
		</div>
		<!-- //Modal content-->
	</div>
</div>
<!-- //Modal1 -->
<!-- //banner section -->
<!-- about -->
<div class="about" id="about">
	<div class="container">
		<h3 class="w3l-title"><span>About</span> Us</h3>
		<div class="w3-agileits-about-grids">
			<div class="col-md-5 agile-about-right">
				<img src="{% static 'images/3.png'%}" alt="" />
			</div>
			<div class="col-md-7 agile-about-left">
				<h3 class="w3l-sub">Offering the most </h3>
				<p class="sub-p">competitive rates and fees</p>
				<p class="sub-p2">A bank is a financial institution that accepts deposits from the public and creates credit.</p>
				<p class="sub-p3">Lending activities can be performed either directly or indirectly through capital markets. Due to their importance in the financial stability of a country, banks are highly regulated in most countries.</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //about -->
<!-- wthree-slid -->
	<div class="wthree-slid"> 
		<div class="col-sm-6 col-xs-8 wthree-slid-right"> 
			<h4>The best way to save your time and money</h4>
			<p>Express bank will save your time, money and improve the way you manage your business finances. You will have the control you need, with multiple disbursement and payment options, along with many other cash management features to help you optimize your business cash flow</p>
		<a class="w3l-cont scroll" href="#contact">Contact Us</a>
		</div> 
		<div class="col-sm-6 col-xs-4 wthree-slid-left"> 
			 
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- wthree-slid --> 
<!-- services -->
	<div class="services" id="services">
		<div class="container">
			<h3 class="w3l-title"><span>Our</span> Services</h3>
			<div class="col-md-4 services-grids-1">
				
			</div>
			<div class="col-md-4 services-grids">
				<div class="wthree-services-grid">
					<div class="wthree-services-icon">
						<i class="fa fa-money" aria-hidden="true"></i>
					</div>
					<div class="wthree-services-info">
						<h5>Free Online </h5>
						<p>Online banking provides no investment, free banking services. </p>
					</div>
				</div>
				<div class="wthree-services-grid w3l-agile">
					<div class="wthree-services-icon">
						<i class="fa fa-user" aria-hidden="true"></i>
					</div>
					<div class="wthree-services-info">
						<h5>Accept All Major</h5>
						<p>It accept all the major services and provides high quality services. </p>
					</div>
				</div>
				<div class="wthree-services-grid">
					<div class="wthree-services-icon">
						<i class="fa fa-car" aria-hidden="true"></i>
					</div>
					<div class="wthree-services-info">
						<h5>Sales & Trading</h5>
						<p>It is wide spread and low cost internet banking. </p>
					</div>
				</div>
			</div>
			<div class="col-md-4 services-grids w3l-seco">
				<div class="wthree-services-grid">
					<div class="wthree-services-icon">
						<i class="fa fa-cog" aria-hidden="true"></i>
					</div>
					<div class="wthree-services-info">
						<h5>Fast Setup</h5>
						<p>Individual can quickly create account, ans enjoy banking services instantly. </p>
					</div>
				</div>
				<div class="wthree-services-grid w3l-agile">
					<div class="wthree-services-icon">
						<i class="fa fa-signal" aria-hidden="true"></i>
					</div>
					<div class="wthree-services-info">
						<h5>Financial Advisors</h5>
						<p>There are various Financial Advisors, who are available for you at single call. </p>
					</div>
				</div>
				<div class="wthree-services-grid">
					<div class="wthree-services-icon">
						<i class="fa fa-credit-card" aria-hidden="true"></i>
					</div>
					<div class="wthree-services-info">
						<h5>Tax Consulting</h5>
						<p>We also provide tax consulting for our customers. </p>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //services -->
<!--stats-->
<div data-vide-bg="/static/video/coins" >
	<div class="stats center-container" id="stats">
		<div class="container">
			<div class="stats-info">
				<div class="col-md-4 col-xs-4 stats-grid slideanim">
					<i class="fa fa-user-o" aria-hidden="true"></i>
					<div class="agile-one">
						<h4 class="stats-info">Employees</h4>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='12760' data-delay='.5' data-increment="1">12760</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-4 stats-grid slideanim">
					<i class="fa fa-globe" aria-hidden="true"></i>
					<div class="agile-one">
						<h4 class="stats-info">Locations</h4>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='12760' data-delay='.5' data-increment="1">12760</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-4 stats-grid slideanim">
					<i class="fa fa-diamond" aria-hidden="true"></i>
					<div class="agile-one">
						<h4 class="stats-info">Awards Winning</h4>
						<div class='numscroller numscroller-big-bottom' data-slno='1' data-min='0' data-max='12760' data-delay='.5' data-increment="1">12760</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>
<!--//stats-->
<!-- team -->
	<div id="team" class="team agileits">
		<div class="team-agileinfo">
			<div class="container">  
				<h3 class="w3l-title"><span>Our</span> Team</h3>
				<div class="team-row agileits-w3layouts">
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="{% static 'images/t1.jpg'%}" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Mark Sophia </h4>
								</div> 
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
										<li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div> 
							</div>
						</div>
					</div>					
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="{% static 'images/t2.jpg'%}" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Edwards Doe</h4>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
										<li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="{% static 'images/t3.jpg'%}" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Michael amet</h4>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
										<li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-3 col-xs-6 team-grids">
						<div class="team-agileimg">
							<img class="img-responsive" src="{% static 'images/t4.jpg'%}" alt="">
							<div class="captn">
								<div class="captn-top">
									<h4>Daniel Nyari</h4>
								</div>
								<div class="social-w3lsicon agileinfo-social-grids">
									<ul>
										<li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
										<li><a href="http://twitter.com/"><i class="fa fa-twitter"></i></a></li>
									</ul>
								</div> 
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->   
<!-- testimonials -->
	<div class="testimonials">
			<div class="wthree_testimonial_grids">
				<div class="col-md-6 wthree_testimonial_grid_left">
					<div class="w3ls_testimonial_grid_left_grid">
						<div class="col-xs-4 agileinfo_testimonials_left">
							<img src="{% static 'images/f2.jpg'%}" alt=" " class="img-responsive" />
							<h4>John Crisp</h4>
						</div>
						<div class="col-xs-8 agileinfo_testimonials_right">
							<div class="agileits_testimonials_right_grid">
								<p>I prefer online banking for all my transactions.</p>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3ls_testimonial_grid_left_grid w3l_testimonial_grid_left_grid">	
						<div class="col-xs-8 agileinfo_testimonials_right agileits_w3layouts_farm_man">
							<div class="agileits_testimonials_right_grid w3_testimonials_right_grid">
								<p>It is an very nice banking i like it.</p>
							</div>
						</div>
						<div class="col-xs-4 agileinfo_testimonials_left">
							<img src="{% static 'images/f3.jpg'%}" alt=" " class="img-responsive" />
							<h4>Thomus Carl</h4>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 stats_grid_left1">
					<img src="{% static 'images/img3.png'%}" alt=" " class="img-responsive">
				</div>
				<div class="clearfix"> </div>
			</div>
	</div>
	<!-- //testimonials -->
 <!--/gallery-->
 <div class="gallery" id="gallery">
	<div class="container">
		<h3 class="w3l-title"><span>Our</span> Gallery</h3>
		<div class="agile_gallery_grids w3-agile">
				<ul class="clearfix demo">
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/g1.jpg'%}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4><span>Online</span> Banking</h4>
								<p>Online banking facilities typically have many features and capabilities in common.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/g2.jpg'%}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4><span>Online</span> Banking</h4>
								<p>Online banking facilities typically have many features and capabilities in common.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/g3.jpg'%}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4><span>Online</span> Banking</h4>
								<p>Online banking facilities typically have many features and capabilities in common.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/g4.jpg'%}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4><span>Online</span> Banking</h4>
								<p>Online banking facilities typically have many features and capabilities in common.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/g5.jpg'%}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4><span>Online</span> Banking</h4>
								<p>Online banking facilities typically have many features and capabilities in common.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/g6.jpg'%}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4><span>Online</span> Banking</h4>
								<p>We offer features such as viewing account balances, obtaining statements, checking recent transaction and making payments.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/g7.jpg'%}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4><span>Online</span> Banking</h4>
								<p>We offer features such as viewing account balances, obtaining statements, checking recent transaction and making payments.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/g8.jpg'%}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4><span>Online</span> Banking</h4>
								<p>We offer features such as viewing account balances, obtaining statements, checking recent transaction and making payments.</p>
							</div>
						</div>
					</li>
					<li>
						<div class="gallery-grid1">
							<img src="{% static 'images/g9.jpg'%}" alt=" " class="img-responsive" />
							<div class="p-mask">
								<h4><span>Online</span> Banking</h4>
								<p>An Internet banking system.</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
	</div>
</div>
<!--//gallery-->
<!-- mail -->
<div class="mail" id="contact">
	<div class="container">
		<h3 class="w3l-title"><span>Contact</span> Us</h3>
		<div class="mail-w3l-agile">
			<div class="col-md-6 col-sm-6 contact-left-w3ls">
				<div class="w3l-cont-mk">
					<img src="{% static 'images/img2.jpg'%}">
				</div>
				<h3>Contact Info</h3>
				<div class="visit">
					<div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
						<i class="fa fa-home" aria-hidden="true"></i>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
						<h4>Visit us</h4>
						<p>SachTech Solution Pvt Ltd.</p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="mail-w3">
					<div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
						<i class="fa fa-envelope-o" aria-hidden="true"></i>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
						<h4>Mail us</h4>
						<p><a href="mailto:info@sachtechsolution.com">info@sachtechsolution.com</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="call">
					<div class="col-md-2 col-sm-2 col-xs-2 contact-icon-wthree">
						<i class="fa fa-phone" aria-hidden="true"></i>
					</div>
					<div class="col-md-10 col-sm-10 col-xs-10 contact-text-agileinf0">
						<h4>Call us</h4>
						<p>+18044261149</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 agileinfo_mail_grid_right">
				<h3>Get In Touch</h3>
				<form action="#" method="post">
					{% csrf_token %}
					<div class="wthree_contact_left_grid">
						<input type="text" name="name" placeholder="Name" required="">
						<input type="email" name="email" placeholder="Email" required="">
						<input type="text" name="number" placeholder="Phone Number" required="">
					</div>
					<textarea name="message" placeholder="Message......." required=""></textarea>
					<input type="submit" value="Submit">
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.9503398796587!2d-73.9940307!3d40.719109700000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a27e2f24131%3A0x64ffc98d24069f02!2sCANADA!5e0!3m2!1sen!2sin!4v1441710758555" allowfullscreen></iframe>
</div>
<!-- //mail -->
<!-- footer -->
<div class="footer-bot">
	<div class="container">
		<div class="logo2">
			<h2><a href="{% url 'home'%}"><span>Online</span> Banking</a></h2>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="copy-right">
	<div class="agileinfo_social_icons">
		<ul class="agileits_social_list">
			<li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
			<li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
			<li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
			<li><a href="#" class="w3_agile_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
		</ul>
	</div>
	<div class="container">
		<p> &copy; 2017 Online Banking. All Rights Reserved | Design by  <a href="/"> Project Team</a></p>
	</div>
</div>
<!-- //footer -->

<!-- js files -->
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script> <!-- Necessary-JavaScript-File-For-Bootstrap --> 
<!-- //js -->
<!-- js for banner -->
<!-- responsiveslider -->
	<script src="{% static 'js/responsiveslides.min.js'%}"></script>
		<script>
			// You can also use "$(window).load(function() {"
			$(function () {
			  // Slideshow 4
			  $("#slider3").responsiveSlides({
				auto: true,
				pager:true,
				nav:false,
				speed: 500,
				namespace: "callbacks",
				before: function () {
				  $('.events').append("<li>before event fired.</li>");
				},
				after: function () {
				  $('.events').append("<li>after event fired.</li>");
				}
			  });
		
			});
		 </script>
	<!-- //responsiveslider -->
	<!-- stats -->
<script type="text/javascript" src="{% static 'js/numscroller-1.0.js'%}"></script>
<!-- //stats -->
<!-- /js for banner -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js'%}"></script>
<script type="text/javascript" src="{% static 'js/easing.js'%}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- start-smoth-scrolling -->
<!-- smooth scrolling -->
<script src="{% static 'js/SmoothScroll.min.js'%}"></script>
<!-- //smooth scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script type="text/javascript">
	$(document).ready(function() {
		
		$().UItoTop({ easingType: 'easeOutQuart' });
		
	});
</script>
<!-- //smooth-scrolling-of-move-up -->  
<!-- video-js -->
<script src="{% static 'js/jquery.vide.min.js'%}"></script>
<!-- //video-js -->
<!--gallery-js -->
<script src="{% static 'js/jquery.picEyes.js'%}"></script>
				<script>
					$(function(){
						//picturesEyes($('.demo li'));
						$('.demo li').picEyes();
					});
				</script>
<!--//gallery-js -->
<!-- //js files -->

</body>
</html>