<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>profile page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    <!-- <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style media="screen">
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color:darkgray;
}

.label {
  float: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.modal-backdrop{
  background:rgba(0,0,0,0.5);
}
body{
  overflow-x:hidden;
}
</style>
<script>
  $(function(){
    $.ajax({
    url:'{% url "user_notify" %}',
    data:{'user':'notification'},
    success:function(data){
      if(data>0){
        $('.notify').html("<small class='badge'>"+data+"</small>").css({'position':'absolute','top':'-7px','left':'60%','font-size':'13px','color':'red'});
        $('.bell').css({'color':'blue'});
      }
      // alert(data);
     
    }
  });
  $('.bell').click(function(){
    $.ajax({
      url:'{% url "user_notify" %}',
      data:{show:'notification'},
      success: function(data){
        rs = JSON.stringify(data)
        a='';
        for(i in data){
          if(data[i].fields.status==false){
            a+= '<a href="{% url "allnotify" %}?id='+data[i].pk+'"><li id="'+data[i].pk+'" class="list-group-item list-group-item-action bg-light">'+data[i].fields.message+'</li></a>';
          }
          else{
            a+= '<a href="{% url "allnotify" %}?id='+data[i].pk+'"><li id="'+data[i].pk+'" class="list-group-item list-group-item-action">'+data[i].fields.message+'</li></a>';
          }
        }
        $('.sh').html(a);
        $('#nbutton').click();
      },
      error: function(data1){
        alert(JSON.stringify(data1));
      }
  });
  });
  });
</script>
  </head>

  <body style="background-color:rgb(240, 240, 240)" >
    <div class="container-fluid">

      <!-- NOTIFICATION MODAL -->
      <button type="button" style='display:none;' id='nbutton' class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Open modal
        </button>
        
        <!-- The Modal -->
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
        
              <!-- Modal Header -->
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
        
              <!-- Modal body -->
              <div class="modal-body">
                <ul class='list-group sh' style='height:400px; overflow: auto;'>

                </ul>
                
              </div>
                
            </div>
          </div>
        </div>



      <div class="row">
        <div class="col-md-2 p-1 "style="">
          <div class="nav navbar navbar-dark " style="background-color:#102444">
            <a class="navbar-brand mt-4" href=""><img src='{% static 'images/e.png'%}'>-Banking</a>

            <ul class="navbar-nav mt-4">
              <li class="nav-item active">
                <a class="nav-link" href="#">ACCOUNTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Account Balance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Account Statement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Account Details</a>
              </li>
            </ul>
            <br>
            <ul class="navbar-nav mt-4">
              <li class="nav-item active">
                <a class="nav-link" href="{% url "mytrans"%}">TRANSACTIONS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url "recentTrans"%}">Recent Transitions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Fund Transfer</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Bill payments</a>
              </li>
          </div>

        </div>
        <div class="col-md-10">
          <nav class="nav navbar navbar-expand navbar-light bg-light">
            <input class="form-control form-control-dark "type="search" name="" value="" placeholder="search" style="background-color:lightgray; width:50%;"></input>

              <ul class="navbar-nav ml-auto">
                <li class="nav-item nv" style="">
                  <a href="#" class='nav-link'><i style="font-size:1.7em; position:relative;"class="fab fa-facebook-messenger"></i></a>
                </li>

                <li class="nav-item nv">
                  <a href="#" class='nav-link'> <i style="font-size:1.7em; position:relative;"class="fas fa-bell bell">&nbsp<span class='notify'></span></i></a>
                </li>
                <li class="nav-item nv" style="">
                  <div class="dropdown ml-1" style="">
                    {% for i in d %}
                      {% if i.profile_picture %}{{i.profile_pic}}
                        <img src='/media/{{i.profile_picture}}'alt="" height=50 width=50 style='border-radius:50%;'>
                      {% endif %}
                    {% endfor %}

                  <a class="dropbtn" style="font-size:1.3em;background-color:lightgray;border-radius:15px">&nbsp &nbsp{{user.username}} &nbsp &nbsp
                    <i class="fa fa-caret-down"></i>
                  </a>
                  <div class="dropdown-content">
                    <a href="{% url "logout"%}">sign out</a>
                    <a href="#">help</a>
                    <a href="{% url 'home'%}#contact">Contact u</a>
                  </div>
              </div>
              </li>
            </ul>
            </nav>

                        <div class="row p-2 bg-light" style="">
                          <div class="col-md-5" style=" background-color:skyblue;height:140px;">
                            {% for i in d %}
                              {{i.profile_pic}}
                              <div style="overflow:hidden;">
                                <img src="/media/{{i.profile_picture}}" alt="Sorry your picture not present" height=90 width=90 style="border-radius:50%;margin-top:15px;float:left">
                                <div class="mt-2">
                                  <br>
                                  <h3 style="display:inline;color:white;margin-left:10px">Welcome back,&nbsp{{i.title}} {{i.user.first_name}}!</h3>

                                  <br>
                                  <h5 style="display:inline;color:white;margin-left:10px">Your last login was !!!!!</h5>
                                </div>
                              {% endfor%}
                              </div>


                          </div>
                          <div class="col-md-3 " style=" background-color:skyblue;height:140px;">
                            {% for i in d %}
                              {{i.profile_pic}}
                                <div class="ml-5" style="color:white;margin-top:20px">
                                  <h3 style="display: inline;">Total balance </h3>
                                  <br>
                                  <h2 style="display: inline;"> &#8377; {{i.account_balance}}</h2>
                                </div>


                                {% endfor%}
                          </div>
                          <div class="col-md-1 " style="height:140px;background-color:skyblue;float:left">
                            <p style="width:3px;background-color:white;height:100px" class="mt-3"></p>
                          </div>
                          <div class="col-md-3" style="background-color:skyblue;height:140px;text-align:center">
                                <button type ="button" data-toggle="modal"data-target="#myModal1"class="btn btn-light mt-1"style="width:140px">Deposit</button>
                                <div class="modal" id="myModal1">
                                  <div class="modal-dialog">
                                    <div class="modal-content">
                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h5 class="modal-title">Welcome to Deposit section of E-Banking</h>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>
                                      <!-- Modal body -->
                                      <div class="modal-body">
                                        <form action="" method='post'>
                                          {% csrf_token %}
                                           <div class="form-group">
                                             <label for=""style="float:left">Enter Amount You Want To Deposit</label>
                                             <input type="number" class="form-control" name="Deposit_amount" value=""placeholder="&#8377; Money">
                                           </div>
                                           <div class="form-group">
                                             <label for="pwd" style="float:left">Your Password:</label>
                                             <input type="password" class="form-control" name="pwd" placeholder="Enter password" name="pswd">
                                           </div>

                                           <button type="submit" name="Deposit_money"class="btn btn-primary">Deposit</button>
                                         </form>

                                      </div>

                                      <!-- Modal footer -->
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                                <button type ="button" data-toggle="modal"data-target="#myModal2"class="btn btn-light mt-2"style="width:140px" >Withdraw</button>
                                {%if al %}
                                <script>
                                  alert("{{al}}");
                                </script>
                                {% endif %}
                                <div class="modal" id="myModal2">
                                  <div class="modal-dialog">
                                    <div class="modal-content">

                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h5 class="modal-title">Welcome to Withdrawal section of E-Banking</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>

                                      <!-- Modal body -->
                                      <div class="modal-body">
                                        <form action="" method='post'>
                                          {% csrf_token %}

                                           <div class="form-group">
                                             <label for=""style="float:left">Enter Amount You Want To Withdraw</label>
                                             <input type="number" class="form-control" name="Withdraw_amount" value=""placeholder="&#8377; Money">
                                           </div>
                                           <div class="form-group">
                                             <label for="pwd" style="float:left">Your Password:</label>
                                             <input type="password" class="form-control" name="pwd" placeholder="Enter password" name="pswd">
                                           </div>

                                           <button type="submit" name="Withdraw_money" class="btn btn-primary">Withdraw</button>
                                         </form>

                                      </div>

                                      <!-- Modal footer -->
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              <button type="button" class="btn btn-light mt-2"style="width:140px" data-toggle="modal" data-target="#myModal3"name="button">Make a Transfer</button>
                              <!-- The Modal -->
                                <div class="modal" id="myModal3">
                                  <div class="modal-dialog">
                                    <div class="modal-content">

                                      <!-- Modal Header -->
                                      <div class="modal-header">
                                        <h4 class="modal-title">Send Money</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                      </div>

                                      <!-- Modal body -->
                                      <div class="modal-body">
                                        <form action="" method='post'>
                                          {% csrf_token %}
                                           <div class="form-group">
                                             <label style="float:left">Reciver Username:</label>
                                             <input type="text" class="form-control" name="sender_username" placeholder="Enter email" name="email">
                                           </div>
                                           <div class="form-group">
                                             <label for=""style="float:left">Enter Amount</label>
                                             <input type="number" class="form-control" name="sender_amount" value=""placeholder="&#8377; Money">
                                           </div>
                                           <div class="form-group">
                                             <label for="pwd" style="float:left">Your Password:</label>
                                             <input type="password" class="form-control" name="pwd" placeholder="Enter password" name="pswd">
                                           </div>

                                           <button type="submit" name="Send_money" class="btn btn-primary">Send Money</button>
                                         </form>

                                      </div>

                                      <!-- Modal footer -->
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                      </div>

                                    </div>
                                  </div>
                                </div>

                            </div>
                          </div>
                    <div class="row mt-3 " style="">
                      <div class="col-md-12 p-3 bg-light">
                        <h3>All accounts</h3>
                        <hr style="height:8px;background-color:#102444">
                        <table class="ml-5" style="width:100%">
                          <tr>
                            <th>Type</th>
                            <th>Account Number</th>
                            <th>Status</th>
                            <th>Currency</th>
                            <th>Balance</th>
                            </tr>
                            <tr class="mt-3">
                              {% for i in d %}
                              <td>{{i.account_types}}</td>

                              <td>{{i.accunt_num}}</td>
                              <td>{{i.account_types}}</td>
                              <td>USD</td>
                              <td>&#8377; {{i.account_balance}}</td>
                              {% endfor %}
                            </tr>
                        </table>
                    </div>
                      </div>

                      <div class="row mt-2 p-3  " style="">
                        <div class="col-md-5 p-2 bg-light ml-3 ">
                          <h3>Recent Activities</h3>
                          <hr style="height:8px;background-color:#102444">
                          <div class="" style="overflow:scroll;max-height:300px">
                          <table class=" table table-striped table-hover" style="width:100%;">
                            <thead>
                              <tr>
                                <th>Sender</th>
                                <th>Receiver</th>
                                <th>Amount</th>
                                <th>Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for i in tr %}
                                <tr>
                                  <td>
                                    {% if i.sender is None %}
                                    self
                                    {% else %}
                                    {{i.sender}}
                                    {% endif %}
                                  </td>
                                  <td>
                                    {% if i.receiver is None %}
                                    self
                                    {% else %}
                                    {{i.receiver}}
                                    {% endif %}
                                  </td>
                                  <td>{{i.amount}}</td>
                                  <td>{{i.time_transtaction}}</td>

                                </tr>
                              {% endfor%}
                            </tbody>
                            <tbody>

                            </tbody>
                          </table>
                        </div>
                      </div>
                          <div class="col-md-6 p-2  bg-light ml-3">
                            <h3>Interest projection</h3>
                            <p class="ml-2"> Interest rate  is 12 percent per year</p>
                              <hr style="height:8px;background-color:#102444">
                            <canvas class="my-4 w-100" id="myChart" width="250" height="160"></canvas>
                            <!-- Graphs -->
                       <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
                       <script>

                       new Chart(document.getElementById("myChart"), {
                         type: 'bar',
                         data: {
                           labels: ["{{current_month}}",
                            "{{third_month}}",
                            "{{six_month}}",
                            "{{nine_month}}",
                          ],
                           datasets: [
                             {
                               label: "investment (millions)",
                               backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                               data: ["{{bal}}",
                               "{{third_interest}}",
                               "{{six_interest}}",
                               "{{nine_interest}}"]
                             }
                           ]
                         },
                         options: {
                           legend: { display: false },
                           title: {
                             display: true,
                             text: 'Interest Prediction Of Your Account'
                           }
                         }
                     });
                       </script>



                        </div>
                          </div>
                          <!-- <div class="col-md-5" style="background-color:gray">
                            {% for i in d %}
                            <br>

                            <h3>Your first name is {{i.user.first_name}}</h3>
                            <h3>Your email is {{i.user.email}}</h3>
                            {% endfor %}
                          </div>
                          <div class="col-md-6" style="background-color:lightgray">
                            {% for i in d %}
                            <br>
                            <h2>your account balance is  $&nbsp{{i.account_balance}}</h2>
                            <h3> your account number is {{i.accunt_num}}</h3>
                            <h1>{{i.accunt_number}}</h1>
                            {% endfor %}
                          </div> -->
                        </div>

            </div>

          </div>
        </div>


  </body>
</html>
