<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap4 %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">    <!-- <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css"%}"/> -->

  </head>
  <body style="background:url('{% static 'videos/coins.JPG'%}');background-repeat:no-repeat;height:100%;width:100%">
    <div class="container-fluid p-2 ">
      <div class="row my-2 mx-2 p-5">
        <div class="col-md-10 bg-light mx-auto my-auto" style="border-radius:19px;">
          <br>
          <h1 class="jumbotron" style="text-shadow:1px 10px 17px black;text-align:center">Sign Up here</h1>

          <form method="post" class="ml-3"  enctype='multipart/form-data'>
            <br>
            {% bootstrap_form form2 %}
            {% bootstrap_form form %}
            {% bootstrap_form form1 %}

            {% csrf_token %}
            <br>
            <input type="checkbox" name="" value="" required> I am agree with ur term and conditions</input>
            <br>
            <br>
            <input type="submit" name=""  style="margin-top:25px;margin-bottom:15px;border-radius:20px"class="btn btn-success btn-block p-2 m-1  "value="Sign Up">
  {% if status %}          
  <script>
    alert('{{status}}');
    window.location = '/signin'
  </script> 
  {% endif %}

          </form>

          <br>

        </div>

      </div>

    </div>
  </body>
</html>
